extends ../layout

block content
  //- video(width='320', height='240', autoplay='autoplay' controls)
  //-   source(src= `${song['360']}`, type='video/mp4')
  a.list(href=`/music/info/${song.id}`)
    div= song.title